.calenderBtn {
  font-size: 17px;
  color: white;
  background: transparent;
  border: none;
  font-weight: 500;
}

.calenderModal {
  position: absolute;
  top: 100%;
  z-index: 1999;
  left: 0;
  width: 100%;
  div {
    font-size: 17px;
    color: white;
    background: #212529;

  }

}